:root {
  --base-color: white;
  --base-color-dark: #1c1d4d;

  --text-color: black;
  --text-color-dark: white;

  --blue-light: #4DA2E8;

  --blue-deep: #2780C9;

  --gray-light: #E5E5E5;
  --gray-deep: #333333;

  --space-margin-inline: 0.3ch;

  --btn-gap: 7px;

  --name-blue: #3A39C6;
  --name-blue-deep: #3B3975;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background-color: var(--base-color);
  color: var(--text-color);
}

html.dark-theme {
  --base-color: var(--base-color-darken);
  --text-color: var(--text-color-darken);
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
}

a:link {  
  color: var(--blue-light); 
  text-decoration: none;
}

a:visited {  
  color: #2780C9; 
  text-decoration: none;
}
a:active {  
  color: var(--blue-light); 
  text-decoration: underline;
}
a:hover {  
  text-decoration: underline;
  filter: brightness(85%);
}

img,
picture {
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

ul, ol {
  list-style: none;
  padding-left: 0;
}

figcaption {
  margin-top: 3px;
  line-height: 1.2;
}

b,
em,
strong {
  font-style: normal;
}
